@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 17 24 39;
  }

  .dark {
    --background: 3 7 18;
    /* Darker bg for better contrast */
    --foreground: 237 237 237;
    color-scheme: dark;
  }

  body {
    @apply antialiased;
  }
}